<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="/accueil" lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <table>
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Etat</th>
                    <th>Action</th>
                    <th>Action</th>

                </tr>
            </thead>

            <tbody>
                <tr th:each="ing:${ingenieurListe}">
                    <td th:text="${ing.id}"></td>
                    <td th:text="${ing.nom}"></td>
                    <td th:text="${ing.prenom}"></td>
                    <td th:text="${ing.email}"></td>
                    <td th:text="${ing.etat}"></td>
                    <td>
                        <a th:href="@{/ingenieur/edit(id=${ing.id})}">Editer</a>
                    </td>
                    <td>
                        <a th:href="@{/ingenieur/delete(id=${ing.id})}">Supprimer</a>
                    </td>


                </tr>

            </tbody>
        </table>
    </div>

</body>
</html>