<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="/accueil" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <table>
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Adresse ip</th>
                <th>Action</th>
                <th>Action</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="serveur:${serveursListe}">
                <td th:text="${serveur.id}"></td>
                <td th:text="${serveur.nom}"></td>
                <td th:text="${serveur.adrIp}"></td>
                <td>
                    <a th:href="@{/serveur/edit(id=${serveur.id})}">Editer</a>
                </td>
                <td>
                    <a th:href="@{/serveur/delete(id=${serveur.id})}">Supprimer</a>
                </td>


            </tr>

            </tbody>
        </table>
    </div>
</body>
</html>